.carts{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(17rem, 1fr));
    gap: 10px;
    margin-top: 1rem;
}
.cart{
    width: 100%;
    position: relative;
    /* max-width: 20rem; */
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 9px;
}
.cart i{
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart > div{
    display: flex;
    justify-content: flex-start;
    gap: 9px;
    margin-top: 12px;
}
.quantity-control{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
}
.quantity-control p{
    margin: auto 4px;
    font-size: 13px;
    color: grey;
}
.quantity-control input{
    background-color: #f8f8f8;
    width: 50% !important;
    padding: 5px;
    font-size: 13px;
}
.cart > div img{
    width: 30%;
}
.order-summary{
    display: flex;
    flex-direction: column;
    width: 17rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 9px;
}
.order-summary strong{
    font-size: 20px;
    line-height: 2;
}
.order-summary div{
    display: flex;
    line-height: 1;
    width: 100%;
    justify-content: space-between;
}
.order-summary button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: black;
    color: white;
}

@media screen and (max-width: 760px) {
    .cart{
        max-width: 23rem;
    }
}