footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
}
footer ul{
    padding: 0 !important;
    list-style: none;
}
footer h3{
    margin-bottom: 12px;
}
footer ul li{
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 14px;
}
footer ul li i{
    color: var(--pink);
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
}
footer li:hover i{
    margin-right: 13px;
}
footer > div > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer > div > div > input{
    background-color: #f8f8f8;
    padding: 9px 10px;
    border-radius: 7px;
}
@media screen and (max-width: 750px){
    footer{
        flex-direction: column;
    }
}