
.form{
    width: 450px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 15px;
    height: fit-content;
    margin: 15px auto;
}
.form h3{
    text-align: center;
    margin: 10px;
}

.form .input-field{
    width: 100%;
    display: flex;
    align-items: baseline;
    border-radius: 5px;
    padding: 13px 8px;
    background-color: #f8f8f8;
    margin-bottom: 15px;
}
.form .input-field i{
    color: grey;
    margin-right: 8px;
}
.form .input-field input, .form .input-field textarea{
    background-color: transparent;
    width: 100%;
}
.form .input-field textarea{
    height: 100px;
}
.form button{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 11px;
}
.form button + p{
    text-align: right;
    color: gray;
    font-size: 14px;
    margin: 8px 0;
}
.form .btn{
    width: 100%;
    margin: 5px 0;
    padding: 11px;
}
.upload{
    width: 100%;
    border-radius: 5px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upload::-webkit-scrollbar{
    appearance: none;
    width: 8px;
}
.upload::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.upload img{
    width: 70%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}
.upload .upload-prompt i{
    font-size: 50px;
}
.upload .upload-prompt label{
    color: var(--pink);
    font-weight: 900;
}
.upload input{
    display: none;
}
.upload .upload-product{
    display: flex;
    position: relative;
    width: 100%;
    gap: 6px;
    flex-direction: column;
}
.upload .upload-product img{
    width: 100%;
    object-fit: cover;
}
.upload .upload-product label{
    background-color: white;
    padding: 7px 12px;
    border-radius: 6px;
    position: absolute;
    width: fit-content;
    margin-left: auto;
    right: 7px;
    top: 7px;
}
@media screen and (max-width: 450px){
    .form{
        width: 95%;
    }
}