@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    transition: all .2s linear;
    list-style: none;
    border: none;
    outline: none;
}
:root{
    --black: #333;
    --pink: #e84393;
    --white-100: #fff;
    --white-200: #666;
    --white-300: #eee;
    --shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.title{
    width: 100%;
    background-color: var(--pink);
    text-align: center;
    color: white;
    padding: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.title h2, .title + h2{
    text-align: center;
    text-transform: uppercase;
}
.title a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
    text-transform: capitalize;
}