.product-page{
    width: 900px;
    display: flex;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 9px;
    gap: 15px;
}
.product-page-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40% !important;
    height: 100% !important;
    gap: 4px;
    /* overflow: hidden; */
}
.product-page-slide > .slide{
    display: block;
    border-radius: 15px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.slide > div{
    width: 100%;
    height: 100%;
}
.product-page-slide .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
}
.product-page-slide .indicators{
    display: block;
    width: 100%;
    height: 55px;
    overflow-y: hidden;
}
.indicators .slick-slide{
    width: 40px;
    height: 53px;
    margin: 0 4px;
}
.product-page-slide  .indicators img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
}
.product-page .text{
    width: 50%;
}
.product-page .text h2{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
.product-page .text > div:first-child > div{
    display: flex;
    gap: 17px;
}
.product-page .text .stars i{
    font-size: 15px;
}
.product-page .text .stars + div{
    color: grey;
}
.product-page .text .stars + div.active i{
    color: var(--pink);
}
.product-page .text .desc h3{
    font-size: 19px;
    font-weight: 600;
}
.product-page .text .desc p{
    font-size: 16px;
}
.product-page .text .desc + div > div:first-child{
    font-size: 20px;
    font-weight: 700;
}
.product-page .text .buttons button{
    background-color: black;
    color: white;
    padding: 6px 10px;
    border-radius: 7px;
    margin: 10px 10px 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.product-page .text .buttons button:last-child{
    background-color: black;
    border: 1px solid black;
    background: transparent;
    color: black;
    padding: 6px 10px;
    border-radius: 7px;
}
@media screen and (max-width: 890px){
    .product-page{
        width: 100%;
    }
    .product-page-slide{
        width: 50% !important;
    }
}
@media screen and (max-width: 800px){
    .product-page{
        flex-direction: column;
        justify-content: center;
        width: 550px;
        margin: 0 auto;
        gap: 20px;
    }
    .product-page-slide{
        width: 100% !important;
    }
    .product-page .text{
        width: 100%;
    }
}
@media screen and (max-width: 550px){
    .product-page{
        width: 95%;
        padding: 8px;
    }
    .product-page-slide .indicators{
        height: 50px;
    }
}